In [1]:
#importing the libraries
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

# Reading and Understanding the Data

In [15]:
data1 = pd.read_excel('result.xls')
data2 = pd.read_excel('result (2).xls')
data3 = pd.read_excel('result (3).xls')
data4 = pd.read_excel('result (4).xls')
data5 = pd.read_excel('result (5).xls')
frames = [data1,data2,data3,data4,data5]
data = pd.concat(frames)
data

,#,City,Name,Year,Shell,"Engine volume, L",Mileage,Transmission,Rudder,Color,Gear,CustomsCleared,Price
0,1,Атырау,ChevroletDamas,2020,микровэн,0.8 (бензин),NaN,механика,слева,NaN,задний привод,Да,3 299 000\n ₸
1,2,Атырау,ChevroletDamas,2020,микровэн,0.8 (бензин),NaN,механика,слева,NaN,задний привод,Да,3 299 000\n ₸
2,3,Актобе,ToyotaAlphard,2006,минивэн,2.4 (газ-бензин),NaN,типтроник,слева,NaN,NaN,Нет,3 950 000\n ₸
3,4,Актобе,ToyotaAlphard,2006,минивэн,2.4 (газ-бензин),NaN,типтроник,слева,NaN,NaN,Нет,3 950 000\n ₸
4,5,Павлодар,JACJ7,2020,лифтбек,1.5 (бензин),NaN,вариатор,слева,NaN,передний привод,Да,7 290 000\n ₸

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 94407 entries, 0 to 38356
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   #                 94407 non-null  int64
 1   City              94407 non-null  object
 2   Name              94407 non-null  object
 3   Year              94407 non-null  object
 4   Shell             94407 non-null  object
 5   Engine volume, L  94353 non-null  object
 6   Mileage           59385 non-null  object
 7   Transmission      94407 non-null  object
 8   Rudder            94407 non-null  object
 9   Color             84287 non-null  object
 10  Gear              83835 non-null  object
 11  CustomsCleared    94407 non-null  object
 12  Price             94407 non-null  object
dtypes: int64(1), object(12)
memory usage: 10.1+ MB

# Data Cleaning and Preparation

In [18]:
# Drop the # as it is of no use
data.drop('#', axis = 1, inplace = True)

data = data.drop_duplicates()
data.shape

(27370, 12)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27370 entries, 0 to 38356
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   City              27370 non-null  object
 1   Name              27370 non-null  object
 2   Year              27370 non-null  object
 3   Shell             27370 non-null  object
 4   Engine volume, L  27357 non-null  object
 5   Mileage           17747 non-null  object
 6   Transmission      27370 non-null  object
 7   Rudder            27370 non-null  object
 8   Color             24501 non-null  object
 9   Gear              24400 non-null  object
 10  CustomsCleared    27370 non-null  object
 11  Price             27370 non-null  object
dtypes: object(12)
memory usage: 2.7+ MB

In [19]:
data['Price'] = data['Price'].str.replace(r'\D', '').astype(int)

In [20]:
data['Mileage'] = data['Mileage'].str.replace(r'\D', '').astype("Float32").astype('Int32')
data = data[data['Mileage'].notna()]

In [21]:
data.loc[data['Year']=='года','Year'] = data.loc[data['Year']=='года']['Name'].str.split().str[1]

In [22]:
indexList = data.loc[data['Year']=='(Lada)','Year'].index
data = data.drop(index=indexList)

In [23]:
data['Year'] = data['Year'].astype(str).astype(int)

In [24]:
#drop nan in column
data = data[data['Engine volume, L'].notna()]

In [25]:
data['Type Engine'] = data['Engine volume, L'].str.split().str[1]
data['Type Engine'] = data['Type Engine'].str.replace("(", "")
data['Type Engine'] = data['Type Engine'].str.replace(")", "")

data['Engine volume, L'] = data['Engine volume, L'].str.split().str[0].astype(float)

data = data[['City','Name','Year','Shell','Engine volume, L','Mileage',
             'Transmission','Rudder','Color','Gear','CustomsCleared','Type Engine','Price']]
data = data.rename(columns={"Engine volume, L": "Volume"})

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17734 entries, 26 to 38356
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   City            17734 non-null  object
 1   Name            17734 non-null  object
 2   Year            17734 non-null  int32
 3   Shell           17734 non-null  object
 4   Volume          17734 non-null  float64
 5   Mileage         17734 non-null  Int32
 6   Transmission    17734 non-null  object
 7   Rudder          17734 non-null  object
 8   Color           16571 non-null  object
 9   Gear            16396 non-null  object
 10  CustomsCleared  17734 non-null  object
 11  Type Engine     17734 non-null  object
 12  Price           17734 non-null  int32
dtypes: Int32(1), float64(1), int32(2), object(9)
memory usage: 1.7+ MB

In [27]:
data.to_csv(r'newdata.csv', index = False)