In [1]:
#importing the libraries
import pandas as pd
import numpy as np
import re

# Reading and Understanding the Data

In [15]:
data = pd.read_csv('newdata.csv')
data.head()

,City,Name,Year,Shell,Volume,Mileage,Transmission,Rudder,Color,Gear,CustomsCleared,Type Engine,Price
0,Уральск,ChevroletNiva,2014,внедорожник,1.7,31000,механика,слева,серебристый,полный привод,Да,бензин,2900000
1,Нур-Султан (Астана),KiaCadenza,2014,седан,3.5,59800,автомат,слева,черный металлик,передний привод,Да,бензин,8600000
2,Тараз,VolkswagenLT,1995,фургон,2.3,450650,механика,слева,белый,задний привод,Да,дизель,1100000
3,Алматы,ToyotaCamry,2018,седан,2.5,48000,типтроник,слева,белый,передний привод,Да,бензин,11300000
4,Караганда,MitsubishiPajero,1997,внедорожник,3.5,153000,автомат,справа,белый,полный привод,Нет,бензин,3350000

In [16]:
#data['test'] = data['Name'].str.findall('[A-Z][^A-Z]*')
a = 'Acura* Alfa Romeo* Alpina* Aston Martin* Audi* Aurus* * * BAIC* BAW* BMW* BYD* Bentley* Brilliance* Bugatti* Buick* * C* Cadillac* ChangFeng* Changan* Chery* Chevrolet* Chrysler* Citroen* * D* Dacia* Daewoo* Daihatsu* Datsun* Derways* Dodge* DongFeng* * E* Eagle* * F* FAW* Ferrari* Fiat* Ford* Foton* * G* GAC* GMC* Geely* Genesis* Gonow* Great Wall* * H* Hafei* Haima* Haval* Honda* HuangHai* Hummer* Hyundai* * I* Infiniti* Iran Khodro* Isuzu* * J* JAC* JMC* Jaguar* Jeep* Jinbei* * K* Kia* * L* Lamborghini* Lancia* Land Rover* Lexus* Lifan* Lincoln* Lotus* Lucid* Luxgen* * M* MG* Maserati* Maybach* Mazda* Mercedes-Benz* Mercedes-Maybach* Mercury* Mini* Mitsubishi* * N* Nissan* * O* Oldsmobile* Opel* * P* Peugeot* Plymouth* Pontiac* Porsche* Puch* * R* Ravon* Renault* Renault Samsung* Rolls-Royce* Rover* * S* SEAT* Saab* Santana* Saturn* Scion* ShuangHuan* Skoda* Smart* Soueast* SsangYong* Subaru* Suzuki* * T* Tesla* Tianma* Tianye* Toyota* * V* Volkswagen* Volvo* * W* Wuling* * X* Xinkai* * Z* ZX* Zotye* ВАЗ (Lada)* ВИС*  ГАЗ* ЕрАЗ* ЗАЗ* ЗИЛ* ИЖ* ЛуАЗ* Москвич* РАФ * СМЗ * ТагАЗ * УАЗ'
a = a.split('* ')

In [23]:
b = a
for x in b:
    if( len(x) < 2 ):
        a.remove(x)

In [24]:
a

['Acura',
 'Alfa Romeo',
 'Alpina',
 'Aston Martin',
 'Audi',
 'Aurus',
 'BAIC',
 'BAW',
 'BMW',
 'BYD',
 'Bentley',
 'Brilliance',
 'Bugatti',
 'Buick',
 'Cadillac',
 'ChangFeng',
 'Changan',
 'Chery',
 'Chevrolet',
 'Chrysler',
 'Citroen',
 'Dacia',
 'Daewoo',
 'Daihatsu',
 'Datsun',
 'Derways',
 'Dodge',
 'DongFeng',
 'Eagle',
 'FAW',
 'Ferrari',
 'Fiat',
 'Ford',
 'Foton',
 'GAC',
 'GMC',
 'Geely',
 'Genesis',
 'Gonow',
 'Great Wall',
 'Hafei',
 'Haima',
 'Haval',
 'Honda',
 'HuangHai',
 'Hummer',
 'Hyundai',
 'Infiniti',
 'Iran Khodro',
 'Isuzu',
 'JAC',
 'JMC',
 'Jaguar',
 'Jeep',
 'Jinbei',
 'Kia',
 'Lamborghini',
 'Lancia',
 'Land Rover',
 'Lexus',
 'Lifan',
 'Lincoln',
 'Lotus',
 'Lucid',
 'Luxgen',
 'MG',
 'Maserati',
 'Maybach',
 'Mazda',
 'Mercedes-Benz',
 'Mercedes-Maybach',
 'Mercury',
 'Mini',
 'Mitsubishi',
 'Nissan',
 'Oldsmobile',
 'Opel',
 'Peugeot',
 'Plymouth',
 'Pontiac',
 'Porsche',
 'Puch',
 'Ravon',
 'Renault',
 'Renault Samsung',
 'Rolls-Royce',
 'Rover',
 'SEAT',
 'Saab',
 'Santana',
 'Saturn',
 'Scion',
 'ShuangHuan',
 'Skoda',
 'Smart',
 'Soueast',
 'SsangYong',
 'Subaru',
 'Suzuki',
 'Tesla',
 'Tianma',
 'Tianye',
 'Toyota',
 'Volkswagen',
 'Volvo',
 'Wuling',
 'Xinkai',
 'Z',
 'ZX',
 'Zotye',
 'ВАЗ (Lada)',
 'ВИС',
 ' ГАЗ',
 'ЕрАЗ',
 'ЗАЗ',
 'ЗИЛ',
 'ИЖ',
 'ЛуАЗ',
 'Москвич',
 'РАФ ',
 'СМЗ ',
 'ТагАЗ ',
 'УАЗ']

In [19]:
data['Company'] = data['Name']

In [25]:
for i in range(len(data['Name'])):
    for j in a:
        if data['Name'][i].find(j) != -1:
            data['Company'][i] = j

<ipython-input-25-5926dfe158ce>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Company'][i] = j

In [27]:
data['Model'] = data['Name']
for i in range(len(data['Name'])):
    data['Model'][i] = data['Name'][i].replace(data['Company'][i], "")

<ipython-input-27-e3e66a31b6d8>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Model'][i] = data['Name'][i].replace(data['Company'][i], "")

In [29]:
data.drop('Name', axis = 1, inplace = True)

In [30]:
data.to_csv(r'FinalData.csv', index = False)

In [31]:
data = pd.read_csv('FinalData.csv')

In [32]:
data

,City,Year,Shell,Volume,Mileage,Transmission,Rudder,Color,Gear,CustomsCleared,Type Engine,Price,Company,Model
0,Уральск,2014,внедорожник,1.7,31000,механика,слева,серебристый,полный привод,Да,бензин,2900000,Chevrolet,Niva
1,Нур-Султан (Астана),2014,седан,3.5,59800,автомат,слева,черный металлик,передний привод,Да,бензин,8600000,Kia,Cadenza
2,Тараз,1995,фургон,2.3,450650,механика,слева,белый,задний привод,Да,дизель,1100000,Volkswagen,LT
3,Алматы,2018,седан,2.5,48000,типтроник,слева,белый,передний привод,Да,бензин,11300000,Toyota,Camry
4,Караганда,1997,внедорожник,3.5,153000,автомат,справа,белый,полный привод,Нет,бензин,3350000,Mitsubishi,Pajero
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17729,Костанай,2014,седан,1.6,160000,механика,слева,коричневый металлик,передний привод,Нет,бензин,1550000,Datsun,on-DO
17730,Сайхин,2008,внедорожник,1.8,175000,механика,слева,серебристый,полный привод,Да,бензин,1500000,Chevrolet,Niva
17731,Нур-Султан (Астана),2014,седан,1.5,103000,механика,слева,белый,передний привод,Да,бензин,3300000,Daewoo,Gentra
17732,Алматы,2014,внедорожник,4.0,87000,автомат,слева,белый металлик,полный привод,Да,бензин,18500000,Toyota,Land Cruiser Prado
17733,Нур-Султан (Астана),1991,седан,2.3,241321,механика,слева,синий металлик,задний привод,Да,бензин,1400000,Mercedes-Benz,E 230

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17734 entries, 0 to 17733
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   City            17734 non-null  object
 1   Year            17734 non-null  int64
 2   Shell           17734 non-null  object
 3   Volume          17734 non-null  float64
 4   Mileage         17734 non-null  int64
 5   Transmission    17734 non-null  object
 6   Rudder          17734 non-null  object
 7   Color           16571 non-null  object
 8   Gear            16396 non-null  object
 9   CustomsCleared  17734 non-null  object
 10  Type Engine     17734 non-null  object
 11  Price           17734 non-null  int64
 12  Company         17333 non-null  object
 13  Model           17734 non-null  object
dtypes: float64(1), int64(3), object(10)
memory usage: 1.9+ MB