## import needed libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import tree

from sklearn import preprocessing
from sklearn import metrics

## read the car.data

In [2]:
car = pd.read_csv('car.data',header=None)
car

          0      1      2     3      4     5      6
0     vhigh  vhigh      2     2  small   low  unacc
1     vhigh  vhigh      2     2  small   med  unacc
2     vhigh  vhigh      2     2  small  high  unacc
3     vhigh  vhigh      2     2    med   low  unacc
4     vhigh  vhigh      2     2    med   med  unacc
...     ...    ...    ...   ...    ...   ...    ...
1723    low    low  5more  more    med   med   good
1724    low    low  5more  more    med  high  vgood
1725    low    low  5more  more    big   low  unacc
1726    low    low  5more  more    big   med   good
1727    low    low  5more  more    big  high  vgood

[1728 rows x 7 columns]


## do the preprocessing

In [3]:
LabelEncode = preprocessing.LabelEncoder()
features = []
columns = car.shape[1]

for i in range(columns):
    column_name = car.columns[i]
    
    if i != columns - 1: #skip target
        features.append(column_name)
    
    if car[column_name].dtypes == 'object':
        LabelEncode.fit(car[column_name])
        feature_classes = list(LabelEncode.classes_)
        
        encode = LabelEncode.transform(car[column_name])
        car[column_name] = pd.DataFrame(encode)
car

      0  1  2  3  4  5  6
0     3  3  0  0  2  1  2
1     3  3  0  0  2  2  2
2     3  3  0  0  2  0  2
3     3  3  0  0  1  1  2
4     3  3  0  0  1  2  2
...  .. .. .. .. .. .. ..
1723  1  1  3  2  1  2  1
1724  1  1  3  2  1  0  3
1725  1  1  3  2  0  1  2
1726  1  1  3  2  0  2  1
1727  1  1  3  2  0  0  3

[1728 rows x 7 columns]

In [4]:
target = car.columns[columns - 1]
y = car[target].values
X = car.drop(columns=[target]).values

# 70% training and 30% test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,random_state=14)


## Apply Decision Tree Algorithm
You can use sklearn
As usual, divide the dataset for train and test

In [5]:
#Building Decision Tree Model
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)

In [6]:
print("Accuracy is about:",metrics.accuracy_score(y_test, y_pred)*100)

Accuracy is about: 97.495183044316

## Write your own function for f1-score

In [7]:
# 0 = acceptable
# 1 = good
# 2 = unacceptable
# 3 = very good

#convert all but 2 to 1
copy_y_pred = [i if i == 2 else 1 for i in y_pred]
copy_y_test = [i if i == 2 else 1 for i in y_test]

#convert all but 1 to 0
copy_y_pred = [i if i == 1 else 0 for i in copy_y_pred]
copy_y_test = [i if i == 1 else 0 for i in copy_y_test]

#Convert Python List to numpy Arrays
copy_y_pred = np.array(copy_y_pred)
copy_y_test = np.array(copy_y_test)

def f1Score(y_test, y_pred):
    tp = sum((y_test == 1) & (y_pred == 1))
    tn = sum((y_test == 0) & (y_pred == 0))
    fn = sum((y_test == 1) & (y_pred == 0))
    fp = sum((y_test == 0) & (y_pred == 1))
    
    precision = tp / (tp + fp)
    recall = tp / (tp + fp)
    f1_score = 2 * (precision*recall) / (precision + recall)
    return f1_score
print("F1 score is about: {0}%".format(f1Score(copy_y_test, copy_y_pred)))

F1 score is about: 0.9939393939393939%