In [34]:
#importing the libraries
import pandas as pd
import numpy as np
import re

# Reading and Understanding the Data

In [35]:
data = pd.read_csv('newdata.csv')
data.head()

,City,Name,Year,Shell,Volume,Mileage,Transmission,Rudder,Color,Gear,CustomsCleared,Type Engine,Price
0,Уральск,ChevroletNiva,2014,внедорожник,1.7,31000,механика,слева,серебристый,полный привод,Да,бензин,2900000
1,Нур-Султан (Астана),KiaCadenza,2014,седан,3.5,59800,автомат,слева,черный металлик,передний привод,Да,бензин,8600000
2,Тараз,VolkswagenLT,1995,фургон,2.3,450650,механика,слева,белый,задний привод,Да,дизель,1100000
3,Алматы,ToyotaCamry,2018,седан,2.5,48000,типтроник,слева,белый,передний привод,Да,бензин,11300000
4,Караганда,MitsubishiPajero,1997,внедорожник,3.5,153000,автомат,справа,белый,полный привод,Нет,бензин,3350000

In [36]:
#data['test'] = data['Name'].str.findall('[A-Z][^A-Z]*')
a = 'Acura* Alfa Romeo* Alpina* Aston Martin* Audi* Aurus* * * BAIC* BAW* BMW* BYD* Bentley* Brilliance* Bugatti* Buick* * C* Cadillac* ChangFeng* Changan* Chery* Chevrolet* Chrysler* Citroen* * D* Dacia* Daewoo* Daihatsu* Datsun* Derways* Dodge* DongFeng* * E* Eagle* * F* FAW* Ferrari* Fiat* Ford* Foton* * G* GAC* GMC* Geely* Genesis* Gonow* Great Wall* * H* Hafei* Haima* Haval* Honda* HuangHai* Hummer* Hyundai* * I* Infiniti* Iran Khodro* Isuzu* * J* JAC* JMC* Jaguar* Jeep* Jinbei* * K* Kia* * L* Lamborghini* Lancia* Land Rover* Lexus* Lifan* Lincoln* Lotus* Lucid* Luxgen* * M* MG* Maserati* Maybach* Mazda* Mercedes-Benz* Mercedes-Maybach* Mercury* Mini* Mitsubishi* * N* Nissan* * O* Oldsmobile* Opel* * P* Peugeot* Plymouth* Pontiac* Porsche* Puch* * R* Ravon* Renault* Renault Samsung* Rolls-Royce* Rover* * S* SEAT* Saab* Santana* Saturn* Scion* ShuangHuan* Skoda* Smart* Soueast* SsangYong* Subaru* Suzuki* * T* Tesla* Tianma* Tianye* Toyota* * V* Volkswagen* Volvo* * W* Wuling* * X* Xinkai* * Z* ZX* Zotye* ВАЗ (Lada)* ВИС*  ГАЗ* ЕрАЗ* ЗАЗ* ЗИЛ* ИЖ* ЛуАЗ* Москвич* РАФ * СМЗ * ТагАЗ * УАЗ'
a = a.split('* ')

In [42]:
b = a
for x in b:
    if( len(x) < 2 ):
        a.remove(x)

In [43]:
a

['Acura',
 'Alfa Romeo',
 'Alpina',
 'Aston Martin',
 'Audi',
 'Aurus',
 'BAIC',
 'BAW',
 'BMW',
 'BYD',
 'Bentley',
 'Brilliance',
 'Bugatti',
 'Buick',
 'Cadillac',
 'ChangFeng',
 'Changan',
 'Chery',
 'Chevrolet',
 'Chrysler',
 'Citroen',
 'Dacia',
 'Daewoo',
 'Daihatsu',
 'Datsun',
 'Derways',
 'Dodge',
 'DongFeng',
 'Eagle',
 'FAW',
 'Ferrari',
 'Fiat',
 'Ford',
 'Foton',
 'GAC',
 'GMC',
 'Geely',
 'Genesis',
 'Gonow',
 'Great Wall',
 'Hafei',
 'Haima',
 'Haval',
 'Honda',
 'HuangHai',
 'Hummer',
 'Hyundai',
 'Infiniti',
 'Iran Khodro',
 'Isuzu',
 'JAC',
 'JMC',
 'Jaguar',
 'Jeep',
 'Jinbei',
 'Kia',
 'Lamborghini',
 'Lancia',
 'Land Rover',
 'Lexus',
 'Lifan',
 'Lincoln',
 'Lotus',
 'Lucid',
 'Luxgen',
 'MG',
 'Maserati',
 'Maybach',
 'Mazda',
 'Mercedes-Benz',
 'Mercedes-Maybach',
 'Mercury',
 'Mini',
 'Mitsubishi',
 'Nissan',
 'Oldsmobile',
 'Opel',
 'Peugeot',
 'Plymouth',
 'Pontiac',
 'Porsche',
 'Puch',
 'Ravon',
 'Renault',
 'Renault Samsung',
 'Rolls-Royce',
 'Rover',
 'SEAT',
 'Saab',
 'Santana',
 'Saturn',
 'Scion',
 'ShuangHuan',
 'Skoda',
 'Smart',
 'Soueast',
 'SsangYong',
 'Subaru',
 'Suzuki',
 'Tesla',
 'Tianma',
 'Tianye',
 'Toyota',
 'Volkswagen',
 'Volvo',
 'Wuling',
 'Xinkai',
 'Z',
 'ZX',
 'Zotye',
 'ВАЗ (Lada)',
 'ВИС',
 ' ГАЗ',
 'ЕрАЗ',
 'ЗАЗ',
 'ЗИЛ',
 'ИЖ',
 'ЛуАЗ',
 'Москвич',
 'РАФ ',
 'СМЗ ',
 'ТагАЗ ',
 'УАЗ']

In [44]:
data['Company'] = data['Name']

In [45]:
for i in range(len(data['Name'])):
    for j in a:
        if data['Name'][i].find(j) != -1:
            data['Company'][i] = j

<ipython-input-45-5926dfe158ce>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Company'][i] = j

In [41]:
data[
    'Company'
]

0
1
2
3
4
        ..
17729
17730
17731
17732
17733
Name: Company, Length: 17734, dtype: object

In [46]:
data['Model'] = data['Name']
for i in range(len(data['Name'])):
    data['Model'][i] = data['Name'][i].replace(data['Company'][i], "")

<ipython-input-46-e3e66a31b6d8>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Model'][i] = data['Name'][i].replace(data['Company'][i], "")

In [47]:
data.drop('Name', axis = 1, inplace = True)

In [48]:
data.drop('Color', axis = 1, inplace = True)

In [49]:
data = data[['City','Year','Shell','Volume','Mileage',
             'Transmission','Rudder','Gear','CustomsCleared','Type Engine','Company','Model','Price']]

In [58]:
data = data[data['Gear'].notna()]
data = data[data['Company'].notna()]
data = data[data['Model'].notna()]

In [59]:
data.to_csv(r'FinalData.csv', index = False)