In [37]:
import pandas as pd
import numpy as np
import time
from tqdm import tqdm
import matplotlib
import matplotlib.pyplot as plt

#libraries for preprocessing
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

#libraries for evaluation
from sklearn.metrics import mean_squared_log_error,r2_score,mean_squared_error
from sklearn.model_selection import train_test_split


#libraries for models
from sklearn.linear_model import LinearRegression

from sklearn.linear_model import Ridge
from sklearn.linear_model import LassoCV,RidgeCV

from sklearn.linear_model import Lasso

from sklearn.neighbors import KNeighborsRegressor

from sklearn.ensemble import RandomForestRegressor

from sklearn.ensemble import BaggingRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR

from sklearn.ensemble import AdaBoostRegressor

In [75]:
data = pd.read_csv('FinalData.csv')
data

,City,Year,Shell,Volume,Mileage,Transmission,Rudder,Gear,CustomsCleared,Type Engine,Company,Model,Price
0,Уральск,2014,внедорожник,1.7,31000,механика,слева,полный привод,Да,бензин,Chevrolet,Niva,2900000
1,Нур-Султан (Астана),2014,седан,3.5,59800,автомат,слева,передний привод,Да,бензин,Kia,Cadenza,8600000
2,Тараз,1995,фургон,2.3,450650,механика,слева,задний привод,Да,дизель,Volkswagen,LT,1100000
3,Алматы,2018,седан,2.5,48000,типтроник,слева,передний привод,Да,бензин,Toyota,Camry,11300000
4,Караганда,1997,внедорожник,3.5,153000,автомат,справа,полный привод,Нет,бензин,Mitsubishi,Pajero,3350000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16030,Костанай,2014,седан,1.6,160000,механика,слева,передний привод,Нет,бензин,Datsun,on-DO,1550000
16031,Сайхин,2008,внедорожник,1.8,175000,механика,слева,полный привод,Да,бензин,Chevrolet,Niva,1500000
16032,Нур-Султан (Астана),2014,седан,1.5,103000,механика,слева,передний привод,Да,бензин,Daewoo,Gentra,3300000
16033,Алматы,2014,внедорожник,4.0,87000,автомат,слева,полный привод,Да,бензин,Toyota,Land Cruiser Prado,18500000
16034,Нур-Султан (Астана),1991,седан,2.3,241321,механика,слева,задний привод,Да,бензин,Mercedes-Benz,E 230,1400000

In [76]:
num_col=['Year','Volume','Mileage','Price']
cat_cols=['City','Shell','Transmission','Rudder','Gear','CustomsCleared','Type Engine','Company','Model']

In [74]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16035 entries, 0 to 17733
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   City            16035 non-null  object
 1   Year            16035 non-null  int64
 2   Shell           16035 non-null  object
 3   Volume          16035 non-null  float64
 4   Mileage         16035 non-null  int64
 5   Transmission    16035 non-null  object
 6   Rudder          16035 non-null  object
 7   Color           15224 non-null  object
 8   Gear            16035 non-null  object
 9   CustomsCleared  16035 non-null  object
 10  Type Engine     16035 non-null  object
 11  Price           16035 non-null  int64
 12  Company         16035 non-null  object
 13  Model           16035 non-null  object
dtypes: float64(1), int64(3), object(10)
memory usage: 1.8+ MB

In [77]:
le = preprocessing.LabelEncoder()
data[cat_cols]=data[cat_cols].apply(le.fit_transform)

In [78]:
data

,City,Year,Shell,Volume,Mileage,Transmission,Rudder,Gear,CustomsCleared,Type Engine,Company,Model,Price
0,167,2014,0,1.7,31000,2,0,2,0,0,12,617,2900000
1,118,2014,11,3.5,59800,0,0,1,0,0,37,232,8600000
2,152,1995,14,2.3,450650,2,0,0,0,4,67,517,1100000
3,15,2018,11,2.5,48000,4,0,1,0,0,66,237,11300000
4,80,1997,0,3.5,153000,0,1,2,1,0,49,635,3350000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16030,93,2014,11,1.6,160000,2,0,1,1,0,17,933,1550000
16031,134,2008,0,1.8,175000,2,0,2,0,0,12,617,1500000
16032,118,2014,11,1.5,103000,2,0,1,0,0,15,442,3300000
16033,15,2014,0,4.0,87000,0,0,2,0,0,66,526,18500000
16034,118,1991,11,2.3,241321,2,0,0,0,0,46,312,1400000

In [ ]:
#scaling numerical data

norm = StandardScaler()
data['Price'] = np.log(data['Price'])
data['Mileage'] = norm.fit_transform(np.array(data['Mileage']).reshape(-1,1))
data['Year'] = norm.fit_transform(np.array(data['Year']).reshape(-1,1))
data['Company'] = norm.fit_transform(np.array(data['Company']).reshape(-1,1))
data['Model'] = norm.fit_transform(np.array(data['Model']).reshape(-1,1))

#scaling target variable
q1,q3=(data['Price'].quantile([0.25,0.75]))
o1=q1-1.5*(q3-q1)
o2=q3+1.5*(q3-q1)
data=data[(data.price>=o1) & (data.price<=o2)]

df['region'] = norm.fit_transform(np.array(df['region']).reshape(-1,1))
df['lat'] = norm.fit_transform(np.array(df['lat']).reshape(-1,1))
df['long'] = norm.fit_transform(np.array(df['long']).reshape(-1,1))